{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
  | Work
{% endblock %}

{% block postload_js %}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'work/css/main.css' %}" />
{% endblock %}

{% block content %}
<section id="banner">
  <div class="inner">
    <header class="major">
      <h1>My Work</h1>
    </header>
    <div class="content">
      <p>As a passionate full stack developer, I thrive on transforming ideas into functional, user-friendly web applications. My portfolio showcases a diverse range of projects that highlight my skills in front-end and back-end development.</p>
    </div>
  </div>
</section>
{% if portfolio_items %}
<div id="portfolio">
    {% for item in portfolio_items %}
      <article class="thumb">
        <a href="{% url 'work_detail' item.slug %}" class="image">
          <img src="{{ item.thumbnail.url }}" alt="{{ article.title }}" />
        </a>
        <h2>{{ item.title }}</h2>
      </article>
    {% endfor %}
  </div>
  {% else %}
  <section>
    <div class="inner">
      <div class="content">
        <h2>Nothing here yet...</h2>
        <p>This section hasn't finished cooking just yet, come back in a bit?</p>
      </div>
    </div>
  </section>
{% endif %} 
<ul class="pagination">
  {% if articles.has_previous %}
  <li><a href="?page=1" class="button small">First</a></li>
  <li><a href="?page={{ articles.previous_page_number }}" class="button small">Prev</a></li>
  {% else %}
  <li><span class="button small disabled">Prev</span></li>
  <li><span class="button small disabled">Prev</span></li>
  {% endif %}
  <li><span class="page">Page {{ articles.number }} of {{ articles.paginator.num_pages }}</span></li>
  {% if articles.has_next %}      
  <li><a href="?page={{ articles.next_page_number }}" class="button small">Next</a></li>
  <li><a href="?page={{ articles.paginator.num_pages }}" class="button small">Last</a></li>
  {% else %}
  <li><span class="button small disabled">Next</span></li>
  <li><span class="button small disabled">Last</span></li>
  {% endif %}
</ul>
{% include 'partials/footer.html' %}
{% endblock %}