{% load static %}

<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <a
          target="_blank" 
          href="https://github.com/JaimieHemmings"
          class="icon brands alt fa-github">
          <span class="label">GitHub</span>
        </a>
      </li>
      <li>
        <a
          target="_blank" 
          href="https://www.linkedin.com/in/jaimiehemmings/"
          class="icon brands alt fa-linkedin-in">
          <span class="label">LinkedIn</span>
        </a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; JaimieH</li>
    </ul>
  </div>
</footer>