    {% load static %}
    
    <!-- ***** Header Area Start ***** -->
  <nav
    class="header-area header-sticky wow slideInDown"
    data-wow-duration="0.75s"
    data-wow-delay="0s"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'home' %}" class="logo">
              <img
                style="max-width: 96px;"
                src="{% static 'media/logo.png' %}"
                alt="JaimieH Logo">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a
                  href="{% url 'home' %}"
                  {% if request.resolver_match.url_name == 'home' %}
                  class="active"
                  {% endif %}
                >Home</a>
              </li>
              <li class="scroll-to-section">
                <a
                  href="{% url 'services' %}"
                  {% if request.resolver_match.url_name == 'services' %}
                  class="active"
                  {% endif %}
                >Services</a>
              </li>
              <li class="scroll-to-section">
                <a
                  href="{% url 'blog' %}"
                  {% if request.resolver_match.url_name == 'blog' %}
                  class="active"
                  {% endif %}
                  >Blog</a>
              </li>
              <li class="scroll-to-section">
                <a
                  href="{% url 'contact' %}"
                  {% if request.resolver_match.url_name == 'contact' %}
                  class="active"
                  {% endif %}
                >Contact</a>
              </li>
              <li>
                <!--
                <div class="gradient-button">
                  <a id="modal_trigger" href="#modal">
                    <i class="fa fa-sign-in-alt"></i> Sign In Now</a>
                </div>
                -->
              </li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </nav>
    <!-- ***** Header Area End ***** -->