{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
  | About
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}

{% block content %}

<div id="spaceman-wrapper">
  <div id="spaceman">
    
  </div>
</div>
<section id="banner" class="major">
  <div class="inner">
    <header class="major">
      <h1>About Me!</h1>
    </header>
    <div class="content">
      <p>I'm an experienced full stack developer that loves to combine logic and creativity</p>
      <ul class="actions">
        <li><a href="#two" class="button next scrolly">Read More</a></li>
      </ul>
    </div>
  </div>
</section>


<section id="main"> 
  <section>
    <div class="inner">
      <header class="major">
        <h2>Full Stack Developer</h2>
      </header>
      <p>My experience spans a variety of web technologies, including React, JavaScript, Django, and SASS. I've had the privilege of working with clients like FStop Photography, where I designed and built their website, and I contributed to the Cardiff Bluebirds Rugby Team's site by developing front-end components and integrating live match data.</p>

      <p>Previously, I worked as a front-end developer at various agencies, collaborating closely with graphic designers to deliver pixel-perfect solutions. My technical support background further developed my troubleshooting and problem-solving skills</p>

      <p>Beyond coding, I'm always exploring new ways to enhance user experience through thoughtful design and seamless interactions. Whether it's through testing tools like Cypress, or diving into new frameworks, I'm committed to continuous learning and delivering value.</p>

      <p>If you're looking for a developer who can bring creativity, technical expertise, and a client-centered approach to your next project, let's connect!</p>
      <ul class="actions">
        <li><a href="{% url 'contact' %}" class="button next">Contact</a></li>
      </ul>
    </div>
  </section>
  <section id="two">
    <div class="inner">
      <header class="major">
        <h2>Tech Stack</h2>
      </header>
      <p>My technical skills include:</p>
      <div class="row">        
        <div class="col-4 col-12-medium">
          <h3>Front End</h3>
          <dl>
            <dt><i class="icon brands alt fa-html5"></i> HTML</dt>
            <dd>
              <p>I've used HTML to create clean, semantic markup that ensures websites are well-organized, accessible, and responsive.</p>
            </dd>
            <dt><i class="icon brands alt fa-css3"></i> CSS</dt>
            <dd>
              <p>I have strong experience with CSS, using it to style and layout web pages for a polished, visually appealing user experience. I also have extensive experience with a variety of CSS frameworks and Libraries.</p>
            </dd>
            <dt><i class="icon brands alt fa-js"></i> JavaScript</dt>
            <dd>
              <p>I have utilized JavaScript to build responsive interfaces, handle user interactions, and manage real-time data updates. I'm well-versed in modern JavaScript features such as ES6+, asynchronous programming (promises, async/await), and DOM manipulation.</p>
            </dd>
            <dt><i class="icon brands alt fa-react"></i> React</dt>
            <dd>
              <p>I've used React to develop component-based architectures that improve performance and scalability. On the back end, I've used JavaScript with Node.js to build APIs, handle server-side logic, and manage databases, providing a seamless connection between the front-end and back-end of your applications.</p>
            </dd>
          </dl>
        </div>
        <div class="col-4 col-12-medium">
          <h3>Back End</h3>
          <dl>
            <dt><i class="icon brands alt fa-python"></i> Python</dt>
            <dd>
              <p>I have significant experience with Python, particularly for back-end development. I've used Python to build robust server-side logic, develop RESTful APIs, and manage data flow between the front end and databases.</p>
            </dd>
            <dt><i class="icon solid alt fa-database"></i> PostGreSQL</dt>
            <dd>
              <p>Using PostgreSQL, I've utilized its relational database structure to design normalized schemas, manage complex queries, and ensure data integrity through constraints and transactions. I've worked with SQL to perform CRUD operations, optimize queries, and implement indexing to improve performance for data-intensive applications.</p>
            </dd>
            <dt><i class="icon solid alt fa-database"></i> MongoDB</dt>
            <dd>
              <p>My experience with MongoDB, a NoSQL database, involves handling unstructured or semi-structured data. I've leveraged its document-based structure to work with flexible schemas, allowing rapid iteration and scalability, particularly for applications with changing data models. </p>
            </dd>
          </dl>
        </div>
        <div class="col-4 col-12-medium">
          <h3>Testing</h3>
          <dl>
            <dt><i class="icon solid alt fa-vial"></i> Cypress</dt>
            <dd>
              <p>I use Cypress for end-to-end testing to ensure that web applications function as intended from the user's perspective. Cypress allows me to write automated tests that simulate real user interactions, such as clicking buttons, filling out forms, or navigating through the site.</p>
            </dd>
            <dt><i class="icon solid alt fa-vial"></i> Jest</dt>
            <dd>
              <p>As a full stack developer, I use Jest for unit testing and ensuring the reliability of my JavaScript code. Jest allows me to write and run tests for individual components or functions in isolation, helping me verify that each piece of my application behaves correctly. I utilize Jest's features like test mocks, spies, and assertions to simulate different scenarios and validate how the code should respond under various conditions.</p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </section>
  {% include 'partials/footer.html' %}
{% endblock %}


{% block postload_js %}
  <script type="module" src="{% static 'js/three.js' %}"></script> 
{% endblock %}