{% load static %}

<div id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="section-heading">
          <h4>About <em>What We Do</em> &amp; Who We Are</h4>
          <img src="{% static 'media/heading-line-dec.png' %}" alt="decorative line">
          <p>We focus on helping small to medium enterprises and startuups establish their online presence and drive customer engagement.</p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="box-item">
              <h4>Websites</h4>
              <p>Establish your online identity with one of our bespoke websites built to your exact specifications</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4>CRM</h4>
              <p>Build in customer relationship management software allows you to easily manage your clients</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4>SEO</h4>
              <p>Make sure you're easily found by your customers by boosting your search engine presence</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="box-item">
              <h4>CMS</h4>
              <p>Our custom Content Management System allows you to easily manage and edit the content on your website</p>
            </div>
          </div>
          <div class="col-lg-12">
            <p>
              As an experienced developers who is passionate about my craft, you can rest assured that you're in good hands. I have worked with a wide range of clients from various industries and I'm confident that I can help you achieve your online goals.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-image">
          <img src="{% static 'media/about-right-dec.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>