{% load static %}

<section id="contact">
  <div class="inner">
    <section>
      <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="fields">
          <div class="field half">
            <label for="name">Name</label>
            {{ form.name }}
          </div>
          <div class="field half">
            <label for="email">Email</label>
            {{ form.email }}
          </div>
          <div class="field">
            <label for="message">Message</label>
            {{ form.message }}
          </div>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Send Message" class="primary" /></li>
          <li><input type="reset" value="Clear" /></li>
        </ul>
      </form>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="mailto:jaimie.j.hemmings@gmail.com">jaimie.j.hemmings@gmail.com</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-phone"></span>
          <h3>Phone</h3>
          <span>07818655375</span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon solid alt fa-home"></span>
          <h3>Address</h3>
          <span>Liskeard<br />
          Cornwall</span>
        </div>
      </section>
    </section>
  </div>
</section>