{% load static %}
<section id="banner" class="major" style="background-image:url({% static 'banner.webp' %})">
  <div class="inner">
    <header class="major">
      <h1>Hi, my name is Jaimie</h1>
    </header>
    <div class="content">
      <p>I am a full stack developer focusing on delivering engaging, high-quality experiences and bespoke software solutions.</p>
      <ul class="actions">
        <li><a href="#two" class="button next scrolly">Read More</a></li>
      </ul>
    </div>
  </div>
</section>