  {% load static %}
  <!-- Start of CTA section -->
  <section class="py-24">
    <h2 class="text-center font-semibold text-xl lg:text-2xl mb-12 text-gray-900">Ready for more customers?</h2>
    <div class="text-center">
      <a class="inline-block uppercase font-bold px-5 py-3 lg:px-10 lg:py-4 rounded-tr-3xl text-sm lg:text-base rounded-bl-3xl bg-gray-900 text-yellow-50 hover:bg-gray-700 focus:ring-2 focus:ring-yellow-300"
        href="{% url 'contact' %}">Get in touch now</a>
    </div>
  </section>