  {% load static %}
  <!-- Start of Previous Work section -->
  <section class="pt-24 lg:pt-40 pb-32 lg:pb-52">
    <h2 class="text-center text-3xl lg:text-4xl font-semibold uppercase text-gray-900 mb-20 lg:mb-24">My Previous Work
    </h2>


    {% for article in articles %}
    {% if not forloop.counter|divisibleby:2 %}
    <div
      class="flex flex-col items-center mx-4 my-12 md:w-2/3 md:mx-auto lg:w-full lg:mx-0">
      <div class="lg:flex items-center justify-center gap-x-14">
        <!-- decription -->
        <div class="lg:w-1/4">
          <h2 class="inline-block text-xl font-semibold uppercase text-gray-800">{{ article.title }}</h2>
          <p class="leading-relaxed my-6 text-gray-700">
            {{ article.exerpt}}
          </p>
          <a class="inline-block uppercase text-center text-sm font-bold px-5 py-3 lg:px-10 lg:py-4 rounded-tr-3xl rounded-bl-3xl bg-gray-900 text-yellow-50 hover:bg-gray-700 focus:ring-2 focus:ring-yellow-300"
            href="{% url 'article' article.slug %}">View More</a>
        </div>
        <!-- Image -->
        <div
          class="relative h-80 lg:w-80 mt-8 lg:mt-0 -mx-4 lg:mx-0 lg:rounded-tl-10xl lg:rounded-br-10xl overflow-hidden">
          <div class="absolute top-0 right-0 left-0 bottom-0 opacity-30 bg-yellow-50">
          </div>
          <img class="h-full w-full object-cover" src="{{ article.thumb_img.url }}" alt="Two cups of coffee on a wooden table.">
        </div>
      </div>
    </div>
    {% else %}
    <div class="flex flex-col items-center my-24 lg:my-40 mx-4 md:w-2/3 md:mx-auto lg:w-full lg:mx-0">
      <div class="lg:flex flex-row-reverse items-center justify-center gap-x-14">
        <!-- decription -->
        <div class="lg:w-1/4">
          <h2 class="inline-block text-xl font-semibold uppercase text-gray-800">
            {{ article.title }}
          </h2>
          <p class="leading-relaxed my-6 text-gray-700">
            {{ article.exerpt }}
          </p>
          <a class="inline-block uppercase text-center text-sm font-bold px-5 py-3 lg:px-10 lg:py-4 rounded-tl-3xl rounded-br-3xl bg-gray-900 text-yellow-50 hover:bg-gray-700 focus:ring-2 focus:ring-yellow-300"
            href="{% url 'article' article.slug %}">View More</a>
        </div>
        <!-- Image -->
        <div
          class="relative h-80 lg:w-80 mt-8 lg:mt-0 -mx-4 lg:mx-0 lg:rounded-tr-10xl lg:rounded-bl-10xl overflow-hidden">
          <div class="absolute top-0 right-0 left-0 bottom-0 opacity-30 bg-yellow-50">
          </div>
          <img class="h-full w-full object-cover" src="{{ article.thumb_img.url }}"
            alt="A barista preparing coffee in Truth Coffee">
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </section>