{% load static %}
  <!-- Growth Tips section -->
  <section class="flex justify-center mx-4 md:w-2/3 md:mx-auto pt-24 lg:pt-30 pb-32 lg:pb-40">
    <div class="lg:flex items-center justify-center gap-x-14">
      <!-- decription -->
      <div class="lg:w-1/3 mb-16 lg:mb-0">
        <h2 class="inline-block text-3xl lg:text-4xl font-semibold uppercase text-gray-900">Grow Your Business</h2>
        <p class="leading-relaxed mt-10 mb-10 text-gray-700">We build custom, user-friendly sites that engage visitors and optimize them to attract organic traffic. Whether you're looking to improve your website's performance or boost visibility, our tailored solutions help drive growth, enhance your online presence, and turn visitors into loyal customers. Let us help you grow your business with a site that stands out and gets found!</p>
        <a class="inline-block uppercase text-center text-sm font-bold px-5 py-3 lg:px-10 lg:py-4 rounded-tr-3xl rounded-bl-3xl bg-gray-900 text-yellow-50 hover:bg-gray-700 focus:ring-2 focus:ring-yellow-300"
          href="/growth_tips.html">See Tips</a>
      </div>
      <!-- Image -->
      <img src="{% static 'media/coffee_growth.png' %}" alt="A happy cartoon woman holding a green growing plant.">
    </div>
  </section>