{% extends 'base.html' %}
{% load static %}
{% block extra_title %} | {{ article.title }} {% endblock %}

{% block content %}
<section id="one">
  <div class="inner">
    <header class="major">
      <h1>{{ article.title }}</h1>
    </header>
    <span class="image main"><img src="images/pic11.jpg" alt="" /></span>
    {{ article.lead_paragraph|safe|linebreaks }}

    
    <h2 class="my-5">{{ article.subtitle_one}}</h2>
    
    {{ article.first_content|safe|linebreaks }}

    <img
      class="mb-3 image fit"
      src="{{ article.main_img.url }}"
      alt="{{ article.title }}">
    
    {{ article.second_content|safe|linebreaks }}

    <img
      class="mb-3 image fit"
      src="{{ article.body_img.url }}"
      alt="{{ article.title }}"
    > 
    
    <h2 class="mb-3">
      {{ article.subtitle_two }}
    </h2>

    <img
      class="mb-3 image fit"
      src="{{ article.body_img_two.url }}"
      alt="{{ article.title }}"
    >
    
    {{ article.third_content|safe|linebreaks }}

    
    {% if article.external_link %}
    <div class="col-sm-12 my-5 border-button">
      <a href="{{ article.external_link }}">
        View Site <i class="fa fa-arrow-right"></i>
      </a>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}