{% extends 'base.html' %}
{% block extra_title %} | {{ article.title }} {% endblock %}

{% block content %}

    <!-- Start of Blog-->
    <section class="pt-16 lg:pb-32 article-body">
      <article>
        <!-- Header section -->
        <div class="relative overflow-hidden lg:rounded-br-full h-1/6 lg:h-130 w-full mb-12 lg:mb-16">
          <!-- Dark overlay -->
          <div class="absolute top-0 bottom-0 left-0 right-0 bg-gray-700 opacity-50">

          </div>
          <!-- Header text -->
          <div class="absolute h-full w-full flex flex-col items-center justify-center text-gray-800">
            <div class="opacity-80 p-8 rounded-lg bg-yellow-50">
              <div class="text-center mb-1 lg:mb-2">
                <span class="uppercase tracking-wider font-semibold text-xs">
                  {{ article.category }}
                </span>
                <span class="mx-2 lg:mx-3 font-medium">
                  {{ article.date }}
                </span>
              </div>
              <h1 class="text-4xl lg:text-5xl font-semibold text-center mx-4 lg:mx-0">
                {{ article.title }}
              </h1>
            </div>
          </div>
          <!-- BG image -->
          <img
            class="h-full w-full object-cover"
            src="{{ article.main_img.url }}"
            alt="{{ article.title }}">
        </div>

        <!-- Blog Article Text -->
        <div class="max-w-prose mx-6 lg:mx-auto text-gray-600">
          <p class="mb-12 text-lg lg:text-xl font-semibold text-gray-700">
            {{ article.lead_paragraph }}
          </p>
          <!-- Main Article Body-->
          {{ article.first_content|safe|linebreaks }}
          <img
            class="mb-12"
            src="{{ article.body_img.url }}"
            alt="{{ article.title }}"
           > 
          <h2 class="text-xl lg:text-2xl mt-12 mb-4 text-gray-800">
            {{ article.subtitle_one}}
          </h2>
          {{ article.second_content|safe|linebreaks }}
          <h2 class="text-xl lg:text-2xl mt-12 mb-4 text-gray-800">
            {{ article.subtitle_two }}
          </h2>
          {{ article.third_content|safe|linebreaks }}
          <img
            class="mb-12"
            src="{{ article.body_img_two.url }}"
            alt="{{ article.title }}"
           > 
        </div>
      </article>
    </section>

    {% endblock %}