{% extends 'base.html' %}
{% load static %}
{% block extra_title %} | {{ article.title }} {% endblock %}

{% block content %}
<section id="one">
  <div class="inner">
    <header class="major">
      <h1>{{ article.title }}</h1>
    </header>
    <span class="image main"><img src="images/pic11.jpg" alt="" /></span>
    {{ article.lead_paragraph|safe|linebreaks }}

    
    <h2 class="my-5">{{ article.subtitle_one}}</h2>
    
    {{ article.first_content|safe|linebreaks }}

    <img
      class="mb-3 image fit"
      src="{{ article.main_img.url }}"
      alt="{{ article.title }}">
    
    {{ article.second_content|safe|linebreaks }}

    <img
      class="mb-3 image fit"
      src="{{ article.body_img.url }}"
      alt="{{ article.title }}"
    > 
    
    <h2 class="mb-3">
      {{ article.subtitle_two }}
    </h2>

    <img
      class="mb-3 image fit"
      src="{{ article.body_img_two.url }}"
      alt="{{ article.title }}"
    >
    
    {{ article.third_content|safe|linebreaks }}

    
    {% if article.external_link %}
    <div class="col-sm-12 my-5 border-button">
      <a href="{{ article.external_link }}">
        View Site <i class="fa fa-arrow-right"></i>
      </a>
    </div>
    {% endif %}
  </div>
</section>
<section id="three">
  <div class="inner">
    <header class="major">
      <h2>Great things happen when you collaborate</h2>
    </header>
    <p>Ready to bring your digital vision to life? Whether you're launching a new website, building a custom app, or improving your online presence, I'm here to help. With a focus on creating engaging, tailor-made solutions that meet your unique needs, we can collaborate to turn your ideas into reality. Let's connect and make your next development adventure a success!</p>
    <ul class="actions">
      <li><a href="{% url 'contact' %}" class="button next">Get Started</a></li>
    </ul>
  </div>
</section>
{% include 'partials/footer.html' %}
{% endblock %}