{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 | Blog 
{% endblock %}

{% block content %}
<div class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h1>News &amp; Updates</h1>
          <img src="{% static 'media/heading-line-dec.png' %}" alt="">
          <p>Keep up to date by checking in every now and then</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="latest-articles container">
<div class="row">
{% if articles %}
{% for article in articles %}
  <div class="col-lg-4">
    <a href="{% url 'article' article.slug %}">
    <div class="pricing-item-pro my-4 bg-white">
        <span class="price">
          {{ article.date|date:"m/d" }}
        </span>
        <h4>
          {{ article.title }}
        </h4>
        <p>{{ article.category}}</p>
        <img
          class="img-fluid mb-5"
          src="{{ article.thumb_img.url }}"
          alt="{{ article.title }}"
        >
        <p>{{ article.exerpt }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
  {% else %}
  <div class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>There <em>doesn't seem</em> to be anything here yet...</h4>
            <img src="{% static 'media/heading-line-dec.png' %}" alt="">
            <p>There's either no articles or something went wrong trying to fetch them, maybe try again in a bit...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}  
</div>
</section>
  
  {% if articles.paginator.num_pages > 1 %}
  <section class="container mt-5">
    <div class="row">
      <div class="col-sm-12 d-flex flex-row justify-content-between">
        {% if articles.has_previous %}
        <a href="?page={{ articles.previous_page_number }}"><i class="fa fa-arrow-left"></i> Previous Page</a>
        {% else %}
        <a class="disabled" href="#"><i class="fa fa-arrow-left"></i> Previous Page</a>
        {% endif %}
        
        <p class="current">
          Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </p>
        
        {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">Next Page <i class="fa fa-arrow-right"></i></a>
        {% else %}
        <a class="disabled" href="#">Next Page <i class="fa fa-arrow-right"></i></a>
        {% endif %}
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}