{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 | Blog 
{% endblock %}

{% block content %}
<div id="wrapper">
  <section id="banner" class="style2">
    <div class="inner">
      <header class="major">
        <h1>News &amp; Updates</h1>
      </header>
      <div class="content">
        <p>From web design insights to in-depth coding tutorials, explore my journey and stay ahead with the latest trends in development, SEO, and digital experiences.</p>
      </div>
    </div>
  </section>
</div>
<div id="main">

  <!-- One -->
    <section id="one">
      <div class="inner">
        <header class="major">
          <h2>Sed amet aliquam</h2>
        </header>
        <p>Welcome to my blog, a space where technology, creativity, and innovation come together! I’m Jaimie Hemmings, a full stack developer with a passion for building high-quality, bespoke web solutions. Here, I share insights from my experience in web design, software development, SEO, and more. Whether you’re a fellow developer looking for tips, a business owner seeking digital growth, or simply curious about the latest trends in tech, you’ll find valuable content to help guide your next project. Dive in, explore, and let’s embark on this digital journey together!</p>
      </div>
    </section>

    <section id="two" class="spotlights">
    {% if articles %}
    {% for article in articles %}
      <section>
        <a href="generic.html" class="image">
          <img src="{{ article.thumb_img.url }}" alt="{{ article.title }}" data-position="center center" />
        </a>
        <div class="content">
          <div class="inner">
            <header class="major">
              <h3>{{ article.title }}</h3>
            </header>
            <p>{{ article.exerpt }}</p>
            <ul class="actions">
              <li><a href="{% url 'article' article.slug %}" class="button">Read More</a></li>
            </ul>
          </div>
        </div>
      </section>
      {% endfor %}
      {% else %}
      <section>
        <div class="inner">
          <header class="major">
            <h2>It looks so empty...</h2>
          </header>
          <p>Seems like there isn't anything to read yet, maybe come back in a little while?</p>
        </div>
      </section>
  {% endif %}  
    <ul class="pagination">
      {% if articles.has_previous %}
      <li><a href="?page=1" class="button small">First</a></li>
      <li><a href="?page={{ articles.previous_page_number }}" class="button small">Prev</a></li>
      {% else %}
      <li><span class="button small disabled">Prev</span></li>
      <li><span class="button small disabled">Prev</span></li>
      {% endif %}
      <li><span class="page">Page {{ articles.number }} of {{ articles.paginator.num_pages }}</span></li>
      {% if articles.has_next %}      
      <li><a href="?page={{ articles.next_page_number }}" class="button small">Next</a></li>
      <li><a href="?page={{ articles.paginator.num_pages }}" class="button small">Last</a></li>
      {% else %}
      <li><span class="button small disabled">Next</span></li>
      <li><span class="button small disabled">Last</span></li>
      {% endif %}
    </ul>
  </section>

  <!-- Three -->
    <section id="three">
      <div class="inner">
        <header class="major">
          <h2>Great things happen when you collaborate</h2>
        </header>
        <p>Ready to bring your digital vision to life? Whether you're launching a new website, building a custom app, or improving your online presence, I'm here to help. With a focus on creating engaging, tailor-made solutions that meet your unique needs, we can collaborate to turn your ideas into reality. Let's connect and make your next development adventure a success!</p>
        <ul class="actions">
          <li><a href="{% url 'contact' %}" class="button next">Get Started</a></li>
        </ul>
      </div>
    </section>

  {% include 'partials/footer.html' %}
{% endblock %}