{% load static %}
<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h4>We develop <em>Bespoke Solutions</em> designed for you</h4>
          <img src="{% static 'media/heading-line-dec.png' %}" alt="">
          <p>The specific requirements of every business vary wildly. That's why we develop solutions to your business needs.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="service-item first-service">
        <div class="icon"></div>
        <h4>Website Development</h4>
        <p>We work closely with you ti understand your business needs and ensure the solution we create is a perfect fit.</p>
        <div class="text-button">
          <a href="{% url 'web_design' %}">Read More <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="service-item second-service">
        <div class="icon"></div>
        <h4>Integrated SEO</h4>
        <p>Everything we do revolves around optimising your SEO results to ensure you reach your target audience.</p>
        <div class="text-button">
          <a href="{% url 'search_engine_optimisation' %}">Read More <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="service-item third-service">
        <div class="icon"></div>
        <h4>Responsive</h4>
        <p>We make sure your website looks good at every screen size and is delivered rapidly through a worldwide content delivery network.</p>
        <div class="text-button">
          <a href="{% url 'web_design' %}">Read More <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="service-item fourth-service">
        <div class="icon"></div>
        <h4>Help &amp; Support</h4>
        <p>Once your website is finished, we'll still be there to provide ongoing support whenever you need it or rapidly deploy any amendments.</p>
      </div>
    </div>
  </div>
</div>