{% extends 'base.html' %}

{% block extra_title %} | Oops! 400 Error!{% endblock%}

{% block content %}
<div id="pricing" class="pricing-tables">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading">
          <h1>400</h1>
          <img src="{% static 'media/heading-line-dec.png' %}" alt="Decorative Line Image">
          <p class="text-gray-600 text-center mt-2">
            Oops! Something went wrong. Please try again later.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}