{% extends 'base.html' %}

{% block extra_title %} | Oops! 403 Error!{% endblock%}

{% block content %}
  <section class="pt-16 lg:pt-32">
    <div class="flex flex-col items-center">
      <h1 class="text-4xl lg:text-5xl font-semibold text-center mb-8">
        403 Error
      </h1>
      <p class="text-lg lg:text-xl text-gray-600 text-center">
        You are not allowed to access this page.
      </p>
      <a href="{% url 'home' %}" class="mt-8 bg-yellow-500 text-white px-4 py-2 rounded-md hover:bg-yellow-600 transition-all duration-300">
        Go back to the home page
      </a>
    </div>
  </section>
{% endblock %}