{% extends 'base.html' %}
{% load static %}
{% block title %} | Contact{% endblock %}
{% block content %}
<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h4>Let's build <em>something great</em> together</h4>
          <img src="{% static 'media/heading-line-dec.png' %}" alt="">
          <p>
            We're always happy to hear from you, whether you're looking for a new website, need help with your existing one or just fancy a chat about your business needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5" style="z-index: 80; position: relative;">
  <form method="POST" action="{% url 'contact' %}" class="contact-form">
    {% csrf_token %}
    {% for field in form %}
    {{ field }}
    {% endfor %}
      <button type="submit" id="submit-button" class="contact-form-btn">
        Send Message
      </button>
    </div>
  </form>
</div>
{% endblock %}